	*{
		margin: 0;
		padding: 0;
	}
	body{
		background-color: #EEE;
		font-family: "Roboto", sans-serif;
	}
	.container{
		max-width: 1000px;
		margin: 0 auto;
		padding: 30px;
		background-color: #E4F9F5;	
	}
	
	/* === Header Styles Start === */
	header{
		
	}
	h1, h2, h3, h4, h5, h6{
		color: #11999e;
	}
	.profile-image{
		height: 120px;
		width: 100px;
		border: 3px solid white;
		border-radius: 50%;
		object-fit: cover;
		float: left;
	}
	.profile-bio{
		float: left;
		padding: 30px;
	}
	.profile-contact{
		float: right;
		padding: 30px;
	}
	.profile-contact a{
		font-weight: bold;
		text-decoration: none;
		color: teal;
	}
	.profile-contact a:hover{
		text-decoration: underline;
		color: tomato;
	}
	.clear-div{
		clear: both;
	}
	.top-hr{
		width: 100%;
		border: 3px solid black;
		margin: 20px auto;
		border-bottom: none;
	}
	/* === Header Styles  End=== */
	
	
	/* === Personal Section Start=== */
	#personal{
		
	}
	.content{
		margin-bottom: 30px;
	}
	.left{
		width: 30%;
		float: left;
	}
	.right{
		width: 70%;
		float: right;
	}
	.common-hr{
		border: 1px solid black;
		margin: 20px auto;
	}
	/* === Personal Section End=== */
	
	
	/* === Work Section Start=== */
	#work{
		
	}
	
	.content{
	
	}
	#work .content .right p{
		padding-top: 5px;
	}
	.common-hr{
		border: 1px solid black;
	}
	/* === Work Section End=== 
	
	
	/* === Key Skills Section Start=== */
		#key-skills .content .right p{
			padding-bottom: 5px;
		}
	/* === Key Skills Section End=== */
	
	
	/* === Education Section Start=== */
	.edu-template-left{
		width: 45%;
		float: left;
	}	
	.edu-template-right{
		width: 45%;
		float: right;
	}
	.edu-template-left p{
		padding-top: 5px;
	}
	.edu-template-right p{
		padding-top: 5px;
	}
	/* === Education Section End=== */
	
	
	/* === Footer Section Start=== */
	.bottom-container{
		background-color: #454545;
		text-align: center;
		padding: 15px;
	}
	.bottom-container a{
		text-decoration: none;
		color: white;
		margin: 20px;
	}
	.bottom-container a:hover{
		text-decoration: underline;
		color: tomato;
	}
	.bottom-container p{
		color: white;
		margin-top: 20px;
	}
	/* === Footer Section End=== */